---
import '../styles/global.css';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<!doctype html>
<html lang="ja" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/webp" href="/icon-head.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>@tonosaki</title>
	</head>
	<body>
		<ThemeToggle />
		<slot />
	</body>
</html>
